/* main/mobile layout */

// containers
.container {
	background: $color-white;
	padding: 1.5em 2.5%;
}
.top {
	@include background(
		linear-gradient(left top, $color-white, darken($color-white, 10))
	);
	a {
		color: $color-gray;
		text-decoration: none;
	}
}

.intro {
	@include background(
		linear-gradient(left top, lighten($color-black, 10), $color-black)
	);
	border-top: 0.75em solid lighten($color-black, 10);
	border-bottom: 0.75em solid $color-black;
}

.masthead,
.content,
.copyright {
	@include outer-container;
	@include clearfix;
}

.title,
.menu-main,
.main,
.ancillary {
	@include span-columns(12);
}
body#home .ancillary {
	margin-top: 1.5em;
	padding-bottom: 1.5em;
}

.bottom {
	background: $color-dark-gray;
}

// classes
.callout {
	@include background(
		linear-gradient(left top, $color-pale-gray, $color-white)
	);
	//@include long-shadow(box, darken($color-pale-gray, 7), 14, false, true, right);
	@include pad(0.75em default);
	margin-bottom: 1.5em;
	@include span-columns(12);
}

.hero {
	background: $color-white;
	border-top: 0.75em solid $color-pale-gray;
	overflow: hidden;
	padding-bottom: 33%;
	position: relative;
	img {
		left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 120%;
	}
}

// projects
.projects {
	@include span-columns(12 of 12);
	li {
		@include span-columns(4 of 12);
		margin-bottom: 1.5em;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		a {
			margin: 0;
			padding: 0.25em;
		}
	}// end li
}

// recent projects
.recent {
	@include span-columns(12 of 12);
	margin-bottom: 0;
	li {
		@include span-columns(3 of 12);
		margin-bottom: 0;
		a {
			margin: 0;
			padding: 0.25em;
		}
		&:nth-child(4n+4) {
			margin-right: 0;
		}
	}
}