// large screen layout

.title {
  @include span-columns(8);
}

.menu-main {
  @include span-columns(4);
}

.intro {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

// classes
.callout {
  @include span-columns(4);
  margin-bottom: 0;
  @include pad(1.5em default 1.5em default);
  &:last-child {
    @include omega;
  }
}
/*.callout {
  margin-bottom: 0;
}*/