/* main/mobile layout */

// containers
.container {
  background: $color-white;
  padding: 1.5em 5%;
}

.ie-warning {
  background: $color-dark-red;
  color: $color-white;
  p {
    @include outer-container;
  }
}

.top {
  background: $color-gray;
  overflow: hidden;
  position: relative;
  
  a {
    text-decoration: none;
  }
}

.intro {
  background: $color-black;
  @include background(
    linear-gradient(left top, lighten($color-black, 10), $color-black)
  );
  border-top: 0.75em solid lighten($color-black, 10);
  border-bottom: 0.75em solid $color-black;
}

.masthead,
.content,
.copyright {
  @include outer-container;
  @include clearfix;
}
.masthead {
  position: relative;
  z-index: 2;
}

// .menu-main has issues with responsive nav -- see other layout files for references
.title,
.menu-main,
.main,
.ancillary {
  @include span-columns(12);
}
body#home .ancillary {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}

.bottom {
  background: $color-dark-gray;
}

// classes
.callout {
  background: $color-white;
  @include background(
    linear-gradient(left top, $color-pale-gray, $color-white)
  );
  border-radius: $base-radius;
  @include pad(1.5em flex-gutter(4) 1.5em flex-gutter(4));
  margin-bottom: 1.5em;
  @include span-columns(12);
  
  & p:last-child {
    margin-bottom: 0;
  }
}

.hero-main {
  @extend %hero-image;
  background: transparent;
}

// projects
.projects {
  @include span-columns(12 of 12);
  li {
    @include span-columns(6 of 12);
    @include omega(2n);
    margin-bottom: 1.5em;
    @include media($bp-med-val, 12) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }
    a {
      .caption {
        margin-left: -100%;
        @include media($bp-med-val) {
          margin-left: 0;
        }
      }
    }
  }// end li
}

// recent projects
.recent {
  @include span-columns(12 of 12);
  margin-bottom: 0;
  li {
    @include span-columns(3 of 12);
    @include omega(4n);
    margin-bottom: 0;
  }
}

// project thumbnails
.thumbs {
  @include span-columns(12 of 12);
  padding-bottom: 0;
  @include media($bp-med-val) {
    @include span-columns(4 of 4);
  }
  li {
    @include span-columns(4 of 12);
    @include omega(3n);
    margin-bottom: 1.5em;
    @include media($bp-med-val) {
      @include span-columns(2 of 4);
      @include omega(2n);
    }
  }
}