// medium screen layout

.title {
  @include span-columns(6);
}

.menu-main {
  @include span-columns(6);
}

.intro {
  .button {
    display: inline-block;
    margin-top: 0;
  }
}

.lt-ie8 {
  .intro {
    .button {
      zoom: 1;
      *display: inline;
    }
  }
}

.main {
  @include span-columns(8);
}
body#home .main,
body#portfolio .main {
  @include span-columns(12);
}
.ancillary {
  @include span-columns(4);
}
body#home .ancillary,
body#portfolio .ancillary {
  @include span-columns(12);
}

// classes
.callout {
  @include pad(1.5rem flex-gutter(6) 1.5rem flex-gutter(6));
}