<section class="web">
	<h2>Web Design <abbr title="and">&amp;</abbr> Development</h2>
	<ul class="separate">
		<li><a href="http://blendishere.com/">Blend Design</a></li>
		<li><a href="http://sciencefestivals.org/">Science Festival Alliance</a></li>
		<li><a href="http://korndesign.com/">Korn Design</a></li>
	</ul>
	
	{% comment %}<ul class="projects">
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/1/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/2/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/3/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/4/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/5/"></a></li>
	</ul>{% endcomment %}
</section>