<section class="print">
	<h2>Brand Development <abbr title="and">&amp;</abbr> Logos</h2>
	<ul>
		<li><a href="https://db.tt/HlUOdTnO">BotBaked Logo</a></li>
		<li><a href="https://db.tt/ksZ96lzr">Hashtag Studios Logo</a></li>
	</ul>
	
	{% comment %}<ul class="projects">
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/1/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/2/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/3/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/4/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/5/"></a></li>
	</ul>{% endcomment %}
</section>