<section class="separate separate-top content">
	<h2>Recent Projects</h2>
	<ul class="recent">
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/1/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/2/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/3/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/4/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/5/"></a></li>
		<!-- project -->
		<li><a href="#"><img alt="" src="http://lorempixel.com/220/220/sports/6/"></a></li>
	</ul>
</section>