<section class="web" aria-labelledby="section-heading-web">
	<h2 id="section-heading-web">Web Design <abbr title="and">&amp;</abbr> Development</h2>
	<ul class="separate projects">
		{% for post in site.categories['web'] %}
		<li>
			<figure>
				<a href="{{ post.url }}">
					<img alt="{{ post.title }}" src="{{ post.images[0] }}"> 
					<figcaption class="caption">{{ post.title }}</figcaption>
				</a>
			</figure>
		</li>
		{% endfor %}
		
		{% for post in site.categories['brand'] %}
		<li>
			<figure>
				<a href="{{ post.url }}">
					<img alt="{{ post.title }}" src="{{ post.images[0] }}"> 
					<figcaption class="caption">{{ post.title }}</figcaption>
				</a>
			</figure>
		</li>
		{% endfor %}
	</ul>
</section>