---
layout: default
title: 'Stuff I Made &amp; Helped to Create'
shortname: Portfolio
heading: 'Stuff I Made <abbr title="and">&amp;</abbr> Helped to Create'
leader: 'Here are a few of the projects that I have worked on over the years:'
excerpt: 'Here are a few of the projects that I have worked on over the years'
slug: portfolio
---

<article class="main" role="main">
  <p class="leader"><strong class="love">Note:</strong> This is a work-in-progress as I move everything over from <a href="http://obxdesignworks.com/">Outer Banks Design Works</a> back to William Dodson Design. Unfinished is better than nothing at all, so please check back soon for more examples of my work. In the meantime you can see some of my <a href="http://obxdesignworks.com/what/">past work</a> on my old portfolio site.</p>
  
  {% include _portfolio-web-large.html %}
  
  {% include _portfolio-print-large.html %}
  
  {% include _portfolio-brand-large.html %}
</article>