{% include structure/_head.html %}
		
		<!--div class="hero">
			<img alt="" src="{{ page.hero }}">
		</div-->
		
		<div class="container intro">
			<div class="content">
				<h1>{{ page.heading }}</h1>
				{% if page.leader != '' %}<h2 class="leader">{{ page.leader }}</h2>{% endif %}
			</div>
		</div>
		
		<div class="container">
			<!-- .content -->
			<div class="content">
				{{ content }}
				{% include sidebar/_sidebar-projects.html %}
			</div>
			<!-- /.content -->
		</div>
		
{% include structure/_foot.html %}