<aside class="ancillary" role="complementary">
	<h2>Sections</h2>
	<ul class="sticky">
		<li>
			<a href="#section-heading-articles">
				Articles
			</a>
		</li>
		
		<li>
			<a href="#section-heading-resources">
				Resources
			</a>
		</li>
		
		<li>
			<a href="#section-heading-books">
				Books
			</a>
		</li>
		
		<li>
			<a href="#section-heading-tools">
				Tools
			</a>
		</li>
		
		<li>
			<a href="#section-heading-specs">
				Specifications
			</a>
		</li>
		
		<li>
			<a href="#section-heading-misc">
				Miscellaneous
			</a>
		</li>
	</ul>
</aside>