<aside class="ancillary" role="complementary">
	<h2>Say Hi!</h2>
	<p>Phone me directly, download my résumé, or find places where you can learn more about me:</p>
	<ul class="social">
		<li><a class="icon-phone" href="tel:+17034738243" rel="me"><b>(703) 473-8243</b></a></li>
		<li><a class="icon-doc-text" href="https://app.box.com/s/hxp114obb5mxu2qu5f8r"><b>Résumé (<abbr title="Adobe Portable Document Format">PDF</abbr>)</b></a></li>
		<li><a class="icon-github" href="https://github.com/obxdesignworks" rel="me"><b>GitHub</b></a></li>
		<li><a class="icon-meetup" href="http://meetups.jquery.com/profile/WilliamDodson" rel="me"><b>jQuery Meetups</b></a></li>
		<li><a class="icon-linkedin" href="http://www.linkedin.com/in/williamdodson" rel="me"><b>LinkedIn</b></a></li>
		<li><a class="icon-twitter" href="https://twitter.com/williamvdodson" rel="me"><b>Twitter</b></a></li>
	</ul>
	
	{% include partials/_pinboard-links.html %}
</aside>
